extends layout.pug
block content
  h1.header Books
  p
    a.button(href='/books/new_book') Create New Book
  p
    | Filters 
    a(href='/books') All
    |  
    a(href='/books/overdue_books') Overdue
    |  
    a(href='/books/checked_books') Checked Out
  table
    thead
      tr
        th Title
        th Author
        th Genre
        th Year Released
    tbody.tbody
      for book in books
        tr.rows
          td
            a(href='/books/book_detail/'+book.id) #{book.title}
          td #{book.author}
          td #{book.genre}
          td #{book.first_published}
    script(type= 'text/javascript' src='/static/js/jquery-3.3.1.min.js')
    script(type= 'text/javascript' src='/static/js/pagination.js')
